body {
  background-color: lightgray;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #0d6efd;
}

.btn-primary {
  background-color: #6610f2;
  border: none;
}

.btn-primary:hover {
  background-color: #520dc2;
}